{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container h-100">
        <div class="row h-75 justify-content-center">
            <div class="col-6 my-auto">
                <img src="{{ MEDIA_URL }}roundall.png" alt="The Lead Shot Hazard roundall logo" class="w-100">
            </div>
        </div>
    </section>
{% endblock %}