{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="A merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, merch, shopping, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" name="title" content="Lead Shot Hazard" />
    <meta property="og:description" content="A merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard">
    <meta name="twitter:description" content="A merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row h-75 justify-content-center mt-5">
            <div class="col-10 col-md-6 my-auto">
                <img src="{{ MEDIA_URL }}roundall.png" alt="The Lead Shot Hazard roundall logo" class="w-100">
            </div>
        </div>
    </section>
{% endblock %}