{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="Contact the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, contact, social, media, facebook, instagram, twitter, tiktok, bandcamp, soundcloud, spotify, merch, shopping, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" content="Lead Shot Hazard" />
    <meta property="og:description" content="Contact the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard">
    <meta name="twitter:description" content="Contact the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block extra_title %}
    Contact Us
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Contact Us</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2">
                <p>Follow any of the below links to get in contact with us!</p>
            </div>
            <div class="col-12 col-sm-6 mt-2">
                <a href="mailto: leadshothazard@gmail.com" target="_blank" rel="noopener" class="social-image" id="email" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fas fa-envelope fa-2x"></i>
                    <span class="social-text">Email</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://bandcamp.com/" target="_blank" rel="noopener" class="social-image" id="bandcamp" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-bandcamp fa-2x"></i>
                    <span class="social-text">Bandcamp</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="social-image" id="facebook" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-facebook fa-2x"></i>
                    <span class="social-text">Facebook</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="social-image" id="instagram" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-instagram fa-2x"></i>
                    <span class="social-text">Instagram</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://twitter.com/" target="_blank" rel="noopener" class="social-image" id="twitter" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-twitter fa-2x"></i>
                    <span class="social-text">Twitter</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://www.youtube.com/" target="_blank" rel="noopener" class="social-image" id="youtube" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-youtube fa-2x"></i>
                    <span class="social-text">YouTube</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://spotify.com" target="_blank" rel="noopener" class="social-image" id="spotify" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-spotify fa-2x"></i>
                    <span class="social-text">Spotify</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://www.tiktok.com/" target="_blank" rel="noopener" class="social-image" id="tiktok" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-tiktok fa-2x"></i>
                    <span class="social-text">TikTok</span>
                </a>
            </div>
            <div class="col-12 col-sm-6 mt-3">
                <a href="https://soundcloud.com/" target="_blank" rel="noopener" class="social-image" id="soundcloud" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-soundcloud fa-2x"></i>
                    <span class="social-text">Soundcloud</span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'band/js/social_hover.js' %}"></script>
{% endblock %}