{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="Upcoming Gigs for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, gigs, concerts, performance, gig, concert, performances, live, merch, shopping, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" name="title" content="Lead Shot Hazard" />
    <meta property="og:description" content="Upcoming Gigs for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard">
    <meta name="twitter:description" content="Upcoming Gigs for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block extra_title %}
    Upcoming Gigs
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="mb-4">Upcoming Gigs</h1>
                <hr>
            </div>
        </div>
        <div class="row text-transform-none">
            {% for event in content %}
                <div class="col-12 col-md-5 event-listing">
                    <h2>
                        <b>Venue:</b> {{ event.venue_name }}
                    </h2>
                    <p>
                        <b>Location:</b> {{ event.location }}
                    </p>
                    <p>
                        <b>Date:</b> {{ event.weekday }} {{ event.day }} {{ event.month }}, {{ event.year }}
                    </p>
                    <p>
                        <b>Time:</b> {{ event.time }}
                    </p>
                    <b>Line Up:</b>
                    <ul>
                        {% for band in event.band_line_up %}
                            {% if band == 'Lead Shot Hazard' %}
                                <li><strong>{{ band }}</strong></li>
                            {% else %}
                                <li>{{ band }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <p>
                        <a href="{{ event.songkick_link }}" class="btn btn-black" rel="noopener" target="_blank"><i class="fas fa-ticket-alt"></i> Click here to buy tickets</a>
                    </p>
                    <img src="{{ MEDIA_URL }}songkick.png" alt="Songkick logo" class="songkick">
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}