{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="404 page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, merch, shopping, bag, 404, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" content="Lead Shot Hazard 404" />
    <meta property="og:description" content="404 page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard 404">
    <meta name="twitter:description" content="404 page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block extra_title %}
    404
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="mt-2 mb-4 text-danger">Oh no!</h3>
                <p class="text-danger mb-2">Something went wrong!</p>
                <a href="/" class="text-danger">Head back to safety!</a>
            </div>
        </div>
    </div>
{% endblock %}