{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="Checkout success page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, merch, shopping, bag, checkout, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" content="Lead Shot Hazard Success" />
    <meta property="og:description" content="Checkout success page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard Success">
    <meta name="twitter:description" content="Checkout success page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block extra_title %}
    Success
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Thank You</h2>
                <hr>
                <p class="text-transform-none">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row text-transform-none small">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <p class="text-tag-dark">Order Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p class="text-tag-dark">Order Details:</p>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <p class="mb-0 font-weight-bold">
                                    {{ item.product.name }}{% if item.product_size %} - Size {{ item.product_size|upper }}{% endif %}
                                </p>
                            </div>
                            <div class="col-12 col-md-3 text-md-right">
                                <p class="mb-0">
                                    {{ item.quantity }} @ £{{ item.product.price }} each
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p class="text-tag-dark">Delivering To:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Street Address 1</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <p class="mb-0 font-weight-bold">Street Address 2</p>
                            </div>
                            <div class="col-12 col-md-3 text-md-right">
                                <p class="mb-0">{{ order.street_address2 }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <p class="mb-0 font-weight-bold">County</p>
                            </div>
                            <div class="col-12 col-md-3 text-md-right">
                                <p class="mb-0">{{ order.county }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                        <div class="row">
                            <div class="col-12 col-md-9">
                                <p class="mb-0 font-weight-bold">Postcode</p>
                            </div>
                            <div class="col-12 col-md-3 text-md-right">
                                <p class="mb-0">{{ order.postcode }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <p class="text-tag-dark">Billing Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-9">
                            <p class="mb-0 font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-3 text-md-right">
                            <p class="mb-0">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-shopping-bag"></i>
                        </span>
                        <span>Continue shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}