html {
    height: 100%;
}

body {
    background-color: black !important;
    height: calc(100vh - 164px);
    color: #fff !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-transform: uppercase;
}

a {
    color: white !important;
}

h4 {
    font-size: 1.1rem !important;
}

.logo {
    font-family: AlumniSans, sans-serif;
}

.text-black {
    color: black !important;
}

.bg-yellow {
    background-color: #FEE101;
}

.btn {
    color: white !important;
}

.border {
    border: 1px solid white !important;
}

.border-black {
    border: 1px solid black !important;
}

.tap-target, .nav-item {
    height: 48px !important;
}

/* -------------------------------- Footer */

.socials-links {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 48px;
    height: 48px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
  
    .header-container {
        padding-top: 164px;
    }
}