html {
    height: 100%;
}

body {
    background-color: #000000 !important;
    height: calc(100vh - 164px);
    color: #fff !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    text-transform: uppercase;
}

/* -------------------------------- Navbar */

.navbar {
    padding: 0 !important;
}

/* -------------------------------- Text */

a {
    color: #ffffff !important;
}

h4 {
    font-size: 1.1rem !important;
}

.logo {
    font-family: AlumniSans, sans-serif;
}

.text-black {
    color: #000000 !important;
}

.text-tag-dark {
    color: #799CAF !important;
}

.text-tag-light {
    color: #3F5B69 !important;
}

.table {
    color: #ffffff !important;
}

/* -------------------------------- Background */

.bg-yellow {
    background-color: #FEE101;
}

.bg-black {
    background-color: #000000 !important;
}

/* -------------------------------- Borders */

.border {
    border: 1px solid #ffffff !important;
}

.border-black {
    border: 1px solid #000000 !important;
}

/* -------------------------------- Buttons */

.btn {
    color: #ffffff !important;
}

.btn-black {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.btn-white {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

.btt-button {
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 67px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Images */

.main-logo {
    width: 60%;
}

/* -------------------------------- Utilities */

.header-container {
    padding-top: 186px;
}

.margin-auto {
    display: block;
    width: fit-content;
    margin: auto;
}

.tap-target, .nav-item {
    height: 48px !important;
}

.text-transform-none {
    text-transform: none;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #000000;
    z-index: -1;
}

.card {
    padding: 5px;
}

a.category-badge > span.badge {
    border: 1px solid #000000 !important;
}

/* -------------------------------- States */

.nav-link:hover {
    color: #799CAF !important;
}

a.category-badge > span.badge:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.btn-black:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: 1px solid #000000 !important;
}

.btn-white:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

/* -------------------------------- Footer */

.footer-allowance {
    height: 100px;
}

.socials-links {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
}

.icon {
    width: 48px;
    height: 48px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
  
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 991px) {
    body {
        height: calc(100vh - 186px);
    }
}