<footer class="fixed-bottom container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="socials-links">
                <a href="https://leadshothazard.bandcamp.com/" target="_blank" rel="noopener"id="bandcamp" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-bandcamp fa-2x icon"></i>
                </a>
                <a href="https://www.facebook.com/LeadShotHazard/" target="_blank" rel="noopener" id="facebook" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-facebook fa-2x icon"></i>
                </a>
                <a href="https://www.instagram.com/lead_shot_hazard/" target="_blank" rel="noopener" id="instagram" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-instagram fa-2x icon"></i>
                </a>
                <a href="https://twitter.com/LeadShotHazard" target="_blank" rel="noopener" id="twitter" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-twitter fa-2x icon"></i>
                </a>
                <a href="https://www.youtube.com/user/LeadShotHazard" target="_blank" rel="noopener" id="youtube" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-youtube fa-2x icon"></i>
                </a>
                <a href="https://open.spotify.com/artist/7sIKGTFWXtmvRhE3CyoSa7" target="_blank" rel="noopener" id="spotify" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-spotify fa-2x icon"></i>
                </a>
                <a href="https://www.tiktok.com/@leadshothazard?" target="_blank" rel="noopener" id="tiktok" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-tiktok fa-2x icon"></i>
                </a>
                <a href="https://soundcloud.com/leadshothazard" target="_blank" rel="noopener" id="soundcloud" onmouseover="hover(this.id)" onmouseout="normal(this.id)">
                    <i class="fab fa-soundcloud fa-2x icon"></i>
                </a>
            </div>
        </div>
    </div>
</footer>