<footer class="fixed-bottom container-fluid pb-3 pt-3 border-top border-white bg-black">
    <div class="row">
        <div class="col-4">
            <p class="copyright margin-auto">Copyright &copy; Lead Shot Hazard <span id="copyright"></span></p>
        </div>
        <div class="col-4">
            <a href="#" class="margin-auto">Contact Us</a>
        </div>
        <div class="col-4">
            <a href="#" class="margin-auto">Upcoming Gigs</a>
        </div>
    </div>
</footer>

{% block post_load_js %}
    <script type="text/javascript">
        function copyrightYear() {
            var d = new Date();
            var y = d.getFullYear();
            document.getElementById("copyright").innerHTML = y;
        }
        copyrightYear();
    </script>
{% endblock %}