<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#">
                T-shirts
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#">
                Music
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#">
                Misc.
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Merch by...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Merch</a>
            </div>
        </li>
    </ul>
</div>