<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=tshirts">
                T-shirts
            </a>
        </li>
        
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=music">
                Music
            </a>
        </li>
        
        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=misc">
                Misc.
            </a>
        </li>

        <li class="nav-item">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'products' %}?category=tshirts,misc,music">
                All Merch
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Merch by...
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item text-black">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item text-black">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-black">All Merch</a>
            </div>
        </li>
    </ul>
</div>