{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock %}

{% block inner_content %}
  <hr>
  <h2 class="mb-4">{% trans "Sign In" %}</h2>
  <hr>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
    <a class="google-login" href="{% provider_login_url 'google' %}">
      <img src="{{ MEDIA_URL }}google-icon.svg" alt="Sign in with Google Button" />
      <span class="google-text">Continue with Google</span>
    </a>
    <p class="my-3">or</p>
    {% include "socialaccount/snippets/login_extra.html" %}
  {% else %}
    <p class="mt-4">{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}" class="text-tag-dark">sign up</a> first.{% endblocktrans %}
    </p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" class="placeholder" value="{{ redirect_field_value }}" />
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-black rounded-0">Home</a>
    <button class="primaryAction btn btn-black rounded-0" type="submit">{% trans "Sign In" %}</button>
    <p class="mt-2">
      <a class="button secondaryAction text-tag-dark" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </p>
  </form>
{% endblock %}