{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="Product Management page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, merch, shopping, bag, checkout, music, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" name="title" content="Lead Shot Hazard Product Management" />
    <meta property="og:description" content="Product Management page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard Product Management">
    <meta name="twitter:description" content="Product Management page on the merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block extra_title %}
    Product Management
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <section class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h1 class="mb-4">Product Management</h1>
                <h2 class="text-tag-dark text-transform-none">Add a Product</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form action="{% url 'add_product' %}" class="form mb-2" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a href="{% url 'products' %}" class="btn btn-white rounded-0">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block post_load_js %}
    {{ block.super }}
    <!-- Thanks to the Boutique Ado tutorials for this code -->
    <script>
        $('#js-new-image').change(function() {
            var file = $('#js-new-image')[0].files[0];
            $('#js-filename').text(`Image will be set to: ${file.name}`);
        })
    </script>
{% endblock %}
