{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
    <!-- Metas -->
    <meta name="description" content="A merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
    <meta name="keywords" content="lead, shot, hazard, ska, punk, band, merch, merchandise, skapunk, london, brass, trombone, saxophone">
    <link rel="canonical" href="https://ms4-lead-shot-hazard.herokuapp.com/">
    <!-- Facebook, LinkedIn, Google -->
    <meta property="og:title" content="Lead Shot Hazard" />
    <meta property="og:description" content="A merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig." />
    <meta property="og:url" content="https://ms4-lead-shot-hazard.herokuapp.com/" />
    <!-- Twitter -->
    <meta name="twitter:title" content="Lead Shot Hazard">
    <meta name="twitter:description" content="A merchandise site for the ska punk band, Lead Shot Hazard. Based in West London, you can also pick up their merch at any gig.">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    <a href="{{ product.image.url }}" target="_blank">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="card-img-top img-fluid">
                        {% else %}
                            <img src="{{ MEDIA_URL }}roundall.png" alt="{{ product.name }}" class="card-img-top img-fluid">
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h2 class="mb-0">{{ product.name }}</h2>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-tag-dark">
                                <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    <p class="mt-3 text-capitalize">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}