{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Login Cancelled" %}
{% endblock %}

{% block inner_content %}
    <hr>
    <h2 class="mb-4">{% trans "Login Cancelled" %}</h2>
    <hr>

    {% url 'account_login' as login_url %}

    <p>{% blocktrans %}You cancelled logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}" class="text-tag-dark">sign in</a>.{% endblocktrans %}</p>
{% endblock %}
